imageComparer/external
imageComparer/external_jpg
imageComparer/mapping.txt
.idea
__pycache__
higu_backgrounds_output
higu_backgrounds_output_full_size
higu_backgrounds_output_16_9
higu_backgrounds_output_4_3