
<!doctype html>
<html lang="en">
    <head>
        <link rel="icon" type="image/png" href="favicon.png" />
        <meta charset="utf-8">
        <title>07th-Mod Installer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .comparison-image {
                border:2px solid black
            }
        </style>
    </head>
    <body>
    <div id="app">
        <h1>Image Matching</h1>
        <div v-if="alreadyMatched" style="font-size: 50px">✅ saved</div>
        <div v-else style="font-size: 50px">❌ not saved</div>
        <img class="comparison-image" v-bind:src="encodeURIComponent(leftImage)" height="400px">
        <img class='comparison-image' v-bind:src="encodeURIComponent(rightImage)" height="400px">
        <img class='comparison-image' v-bind:src="encodeURIComponent(rightMostImage)" height="400px">
        <p>PS3 Image: {{ leftImage }}</p>
        <p>Auto Image: {{ rightImage }}</p>
        <p>Manual Image: {{ rightMostImage }}</p>
        <p>Row in Exel: {{ currentRowIndex + 2 }}</p>
        <p>Image: {{ currentRowIndex + 1 }} / {{ totalRows }}:  {{ currentRow }}</p>
        <button v-on:click="getRow(-1)">Previous Image</button>
        <button v-on:click="getRow(1)">Next Image</button>
        <button v-on:click="saveMapping()">Save Mapping</button>
        <button v-on:click="getNextUnsaved()">Go To Next Unsaved</button>
        <br><br>
        <button v-on:click="goToExelRow(userEnteredExelRowNumber)">Go To Exel Row</button>
        <input v-model="userEnteredExelRowNumber" placeholder="edit me" style="width: 60px">
        <br><br>
        <button v-on:click="reloadCSV()">Reload CSV file</button>
        <h1 v-if="showPleaseWait">Please Wait...</h1>
    </div>
        <script src="js/jquery.min.js"></script>
		<script src="js/vue.js"></script>
		<script src="python-patcher-rest-lib.js"></script>
		<script src="python-patcher-lib.js"></script>
    </body>
</html>
